{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <main class="content container">
	    <!--
	<div class="gallery">
	  <img src="https://picsum.photos/id/199/400/300" alt="the beach">
	  <img src="https://picsum.photos/id/1011/400/300" alt="a girl doing kayak">
	  <img src="https://picsum.photos/id/124/400/300" alt="a small boat in the sea">
	  <img src="https://picsum.photos/id/235/400/300" alt="a mountain">
	  <img src="https://picsum.photos/id/423/400/300" alt="a forest">
	</div>
	    -->
	{{ block "main" . -}}{{- end }}
    </main>

    {{ if not .Site.IsServer }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
  </body>
</html>
